<div class="container-fluid footer">
  <div class=" d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <p class="text-center">
        Developed by
        <br>
        Oluwaseun Adesina
      </p>
      <p>
        <mat-icon color="" >favorite</mat-icon>
      </p>
    </div>
    <a class="text-white d-flex align-items-center" href="https://sandbox-flw-web-v3.herokuapp.com/pay/hdddjffysxd9">
      buy me a coffee
      <mat-icon color="" >local_cafe</mat-icon>
    </a>

  </div>
</div>
